<!-- Sidebar Ads Component -->
<aside class="sidebar">
    <div class="sidebar-ads">
        <h3>Our Sponsors</h3>

        <!-- DIAMOND Sponsors -->
        <div class="sponsor-category sponsor-category-diamond">
            <h4 class="sponsor-category-title">DIAMOND</h4>
            <div class="sponsor-logos-scroll">
                <div class="sponsor-logos-track">
                    <img src="images/sponsors/aha-biryanis.jpg" alt="Aha Biryanis" class="sponsor-logo">
                    <img src="images/sponsors/delight-consulting-services.jpg" alt="Delight Consulting Services" class="sponsor-logo">
                </div>
            </div>
        </div>

        <!-- GOLD Sponsors -->
        <div class="sponsor-category sponsor-category-gold">
            <h4 class="sponsor-category-title">GOLD</h4>
            <div class="sponsor-logos-scroll">
                <div class="sponsor-logos-track">
                    <img src="images/sponsors/hari-kakumanu.jpg" alt="Hari Kakumanu" class="sponsor-logo">
                    <img src="images/sponsors/livonia-pharmacy.jpg" alt="Livonia Pharmacy" class="sponsor-logo">
                    <img src="images/sponsors/softcorp.jpg" alt="SoftCorp" class="sponsor-logo">
                    <img src="images/sponsors/somireddy-law-group.png" alt="Somireddy Law Group" class="sponsor-logo">
                </div>
            </div>
        </div>

        <!-- SILVER Sponsors -->
        <div class="sponsor-category sponsor-category-silver">
            <h4 class="sponsor-category-title">SILVER</h4>
            <div class="sponsor-logos-scroll">
                <div class="sponsor-logos-track">
                    <img src="images/sponsors/anne-insurance.jpg" alt="Anne Insurance" class="sponsor-logo">
                    <img src="images/sponsors/comfort-keepers.png" alt="Comfort Keepers" class="sponsor-logo">
                    <img src="images/sponsors/ids.jpg" alt="IDS" class="sponsor-logo">
                    <img src="images/sponsors/sam-jovanovski.jpg" alt="Sam Jovanovski" class="sponsor-logo">
                    <img src="images/sponsors/smile-centers.png" alt="Smile Centers" class="sponsor-logo">
                    <img src="images/sponsors/vktek.jpg" alt="VkTek" class="sponsor-logo">
                    <img src="images/sponsors/yadagiri-ileni.jpg" alt="Yadagiri Ileni" class="sponsor-logo">
                </div>
            </div>
        </div>
    </div>
</aside>
